<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key ="BaseUrl" value="https://octopusinvestments.com"/>
        <!-- Value Can be Chrome/FireFox/ This will be used to instantiae driver-->
        <add key="CurrentDriver" value="Chrome"/>
        <add key="ChromeDriverLocation" value="/drivers/Chrome"/>
        <add key="FireFoxDriverLocation" value="/drivers/FireFox/geckodriver.exe"/>
    </appSettings>
</configuration>
